/*GENERAL*/
header {
    display: flex;
    justify-content: space-between;
    background-color: #00205b;
}

body{
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif; /*importer roboto ??*/
}

li{
    list-style-type: none;
}

/*HEADER TOP*/
.header-top__nav-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header-top__nav-item{
    margin: 0 0.5rem;
    font-weight: 600;
    color : #063b9e;
}

/*HEADER*/
#logo_airbus{
    width: 86px;
    height: 16px;
    padding: 15px 20px;
}

.header__navbar-nav{
    display: flex;
    justify-content: flex-end !important;
    flex-direction: row;
    flex-basis: auto;
}

.header__class-item{
    margin: 0 0.5rem;
    font-weight: bold;
    color: white;
}

.header__navbar-toggler{
    display: none;
}

/*FOOTER*/